
floatingView/app/app.iml

*.iml

*.bin

*.pro

floatingView/.idea/workspace.xml

floatingView/.idea/modules.xml

floatingView/.idea/misc.xml

floatingView/.idea/runConfigurations.xml

floatingView/.idea/.name

floatingView/.idea/compiler.xml

floatingView/.idea/copyright/profiles_settings.xml

floatingView/.idea/gradle.xml

floatingView/.idea/libraries/appcompat_v7_23_1_1.xml

floatingView/.idea/libraries/support_annotations_23_1_1.xml

floatingView/.idea/libraries/support_v4_23_1_1.xml

floatingView/.idea/vcs.xml
